# Игнорируем файлы кеша Python
__pycache__/
*.py[cod]
.idea
# Игнорируем файлы виртуального окружения
venv/
.env
*.env
# Игнорируем файлы кеша и временные файлы
nspd_parser.egg-info
.DS_Store
*.log
*.swp
*.swo
dist

# Игнорируем файлы зависимостей
pip-log.txt
pip-delete-this-directory.txt
